body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  border-style: dashed;
  background-color: aliceblue;
}
